* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0b0911;
}
body,
button {
  color: #fff;
  font-family: "Inter", sans-serif;
}
#app {
  margin: 0 auto;
  width: 1517px;
  height: 947px;
  padding: 107px 77px;
  display: flex;
}
.header h2 {
  font-weight: 700;
  font-size: 32px;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19.2059px;
  line-height: 23px;
  margin: 8px 0 68px;
}

.table {
  text-align: center;
  border: 2px solid #1c162c;
  border-radius: 8px;
}
table {
  
  border: 5px solid #1c162c;
  border-collapse: collapse;
  width: 100%;
}
.table tr{
  padding: 15px;
}
table tr td{
  padding: 16px 0;
  
}
table tr th {
  padding: 10px 10px;
  background: #1c162c;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
button {  
  border: none;
  padding: 12px 24px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  
}
.default-primary{
  background: #8257e5;
}
.default-secondary{
  background: #3c3748;
}
.default-tertiary{
  background: transparent;
}
.hover-primary{
  background: #9674e5;
}
.hover-secondary{
  background: #6a617f;
}
.hover-tertiary{
  background: none;
}
.focus-primary{
  background: #8257e5;
  outline: 2px solid #d9cdf7;
  border: 2px solid #d9cdf7;
  
}
.focus-secondary{
  background: #3c3748;
  outline: 2px solid #d9cdf7;
  border: 2px solid #d9cdf7;
}
.focus-tertiary{
  background: transparent;
  outline: 2px solid #d9cdf7;
  border: 2px solid #d9cdf7;
}
.disabled-primary{
  background: #8257e5;
  border: none;
  color: #d9cdf7;
  opacity: 0.56;
  cursor: not-allowed;
}
.disabled-secondary{
  background: #3c3748;
  border: transparent;
  color: #d9cdf7;
  cursor: not-allowed;
}
.disabled-tertiary{
  background: transparent;
  color: #d9cdf7;
  cursor: not-allowed;
}
b{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.loading-primary{  
  background: #8257e5;
 cursor: progress;
}
.loading-secondary{  
  background: #3c3748;
 cursor: progress;
}
.loading-tertiary{  
  background: none;
   cursor: progress;
}
.movable-primary{  
  background: #8257e5;
}
.movable-secondary{  
  background: #3c3748;
}
.movable-tertiary{  
  background: none;
}

.wrapper-buttons {  
  width: 100%;
  padding: 32px;
  background: #0b0911;
  
}
.result {
  padding: 32px;
  background: #130f1e;
}
.wrapper-result {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
button.result-primary{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.wrapper-result button.default-primary{
  background: #8257e5;
}
.wrapper-result button.hover-primary:hover{
  background: #9674e5;
}
.wrapper-result button.focus-primary:focus{
  background: #8257e5;
  outline: 2px solid #d9cdf7;
  border: 2px solid #d9cdf7;
}
.wrapper-result button.disabled-primary:disabled{
  background: #8257e5;
  border: none;
  color: #d9cdf7;
  opacity: 0.56;
  cursor: not-allowed;
}
.wrapper-result button.loading-primary.loading,
.wrapper-result button.loading-secondary.loading,
.wrapper-result button.loading-tertiary.loading{
  cursor: progress;
}

.wrapper-result button.loading-primary.loading i,
.wrapper-result button.loading-secondary.loading i,
.wrapper-result button.loading-tertiary.loading i{
 font-size: 16px; 
 animation: spin 900ms infinite linear;
}
.wrapper-result button.movable-primary.movable,
.wrapper-result button.movable-secondary.movable,
.wrapper-result button.movable-tertiary.movable{
  cursor: move;
}
.wrapper-result button.movable-primary.movable i,
.wrapper-result button.movable-secondary.movable i,
.wrapper-result button.movable-tertiary.movable i{
  font-size: 18px;
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
